
*{
    margin:0;
    padding:0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
} 
.container{
    width:100%;
    background:rgb(6, 163, 163);
    min-height:100vh;
    padding:10px;
   
       
}
.todoapp{
    width:100%;
    max-width:540px;
    background:#fff;
    margin:100px auto 20px;
    padding: 40px ;
    padding-right:30px ;
    padding-bottom: 70px ;
    border-radius:10px;
}
.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 25px;
    background: #edeef0;
    border-radius: 30px;
   
}
.todoapp h1{
    color:black;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    text-decoration-line:underline ;
    text-decoration-style:wavy ;
    text-decoration-color:rgb(5, 185, 5); 
    justify-content: center;
}
.todoapp h1 img{
    width:30px;
    margin-left:10px;

}

input{
    flex:1;
    font-weight: 14px;
    background: transparent;
    border:none;
    padding:10px;
    outline: none;
}
button{
    border: none;
    border-radius:40px;
    padding:16px 50px;
    background:rgb(5, 185, 5);
    color:#fff;
    font-size:15px;
   
}
ul li{
    list-style:none;
    font-size:17px;
    padding:12px 8px 12px 50px;
    user-select:none;
    cursor:pointer;
    position: relative;
}
ul li::before{
height: 28px;
 width: 28px;
 position:absolute;
border-radius: 50%;
background-image: url(un.png);
background-size: cover;
background-position: center;
left: 8px;
content:'';
}
ul li.checked{
   
    text-decoration:line-through;
}
ul li span{
    position:absolute;
    right: 0;
    font-size: 21px;
    line-height: 35px;
    text-align:center;
    border-radius: 50%;
}
ul li.checked::before{
    background-image: url(ch.png);
}


